/**
 * Blocks
 */

.block-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  min-height: 100vh;
  position: relative;
  .col-xs-12;
  .pad-xs-medium;
  .block-center-center;
  .type-center;

  .block-center {
    max-width: 100%;
  }
}

.pad-xs-small .block-cover {
  min-height: calc(100vh-@padding-small*5);
}

.block-cover .bttn {
  margin-top: @padding-medium;
}

@media only screen and ( min-width: @screen-sm-min ) {
  .block-center p {
    margin-left: auto;
    margin-right: auto;
  }
}

.block-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .type-center;
  .stack-3;

  &.block-overlay-bottom {
    align-items: flex-end;
  }

  &.block-overlay-topish {
    padding-bottom: @padding-big;
  }
}

/**
 * Borders
 */

.border-bottom-light {
  border-bottom: 1px solid #ddd;
}

/**
 * Images
 */

.img-sport {
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: 0;
  position: relative;
  padding-bottom: 70%;
  box-sizing: content-box;
}

.img-square {
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  box-sizing: content-box;
}

.img-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.img-thumb {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 0;
  position: relative;
  padding-bottom: 100%;
}

.img-cover {
  height: 80vmin;
  width: 80vmin;
}

.img-desaturated-hover .img-square {
  filter: grayscale(1);
  transition: filter 250ms ease;

  &:hover {
    filter: grayscale(0);
  }
}

/**
 * Lists
 */

.list-inline li {
  display: inline-block;
}

.list-inline > li {
  padding: 0 1rem;
}

/**
 * Buttons
 */

.bttn {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  padding: @padding-medium/2;
  .type-bold;
  &:active {
    transform: translate(2px, 2px);
  }
}

.type-white .bttn {
  border: 0.2rem solid #fff;
  color: #fff;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.type-black .bttn {
  border: 0.2rem solid #000;
  color: #000;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.bttn-big {
  border: 0.2rem solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  height: 19.5rem;
  padding: 0 @padding-medium;
  .type-bold;
  .type-center;
  .type-normalish;
  .type-extended;
  .type-caps;
  &:active {
    transform: translate(2px, 2px);
  }
}

/**
 * Images
 */

.block-dim {
  position: relative;
  &:after {
    content: '';
    background: rgba(0, 0, 0, 0.75);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

/**
 * Backgrounds
 */

.background-black {
  background-color: #000;
}

.background-gray-light {
  background: #ccc;
}

.background-gray {
  background-color: #9a9a9a;
}

.background-dark-gray {
  background-color: #333;
}

/**
 * Arrows
 */

.arrow {
  fill: #000;
}

.background-black .arrow {
  fill: #fff;
}

/**
 * Page specific
 */

.logo-home {
  max-width: 70vmin;
  img {
    width: 100%;
  }
}

/**
 * Gradients
 */

.gradient-container {
  overflow: hidden;
  position: relative;
}

.gradient-bottom-black {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 83.25%;
}

/**
 * Video
 */

.container-video {
  position: relative;

  &:before {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    content: '▶';
    padding: 1rem 2rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }

  img {
    display: block;
    cursor: pointer;
    margin: 0;
  }

  iframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
}

/**
 * Form
 */

.form {
  select,
  textarea,
  input {
    border: 0;
    background: #fff;
    color: #000;
    padding: @padding-small;
    font-size: 1.6rem;
    border-radius: 0;
    font-family: 'Foundation Sans', sans-serif;
    font-weight: @reg;
  }

  select {
    font-family: 'Foundation Sans', sans-serif;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  button {
    font-family: 'Foundation Sans', sans-serif;
    background: none;
    display: inline-block;
    font-size: 1.6rem;
  }
}

.contact-arrow {
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #000;
  pointer-events: none;
  margin: @padding-medium * 0.75;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

/**
 * Video headers
 */
.header-video {
  background: #000;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > div {
    overflow: hidden;
    position: absolute;
    top: -60px;
    bottom: -60px;
    left: 0;
    right: 0;
  }
}

/**
 * Footer
 */

.site-footer {
  a {
    display: inline-block;
    border-bottom: 0;
    margin: 0 0.5em;
  }
}

/**
 * Misc
 */

.title-bg {
  background: #000;
  padding: 1rem 2rem;
  width: 100%;
}

/**
 * Social
 */

.social {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 0.25rem;
  display: inline-block;
  overflow: hidden;
  text-indent: 6rem;
  height: 4rem;
  width: 4rem;
}

.social.facebook {
  background-image: url(../assets/images/facebook.svg);
}

.social.twitter {
  background-image: url(../assets/images/twitter.svg);
}

.social.linkedin {
  background-image: url(../assets/images/linkedin.svg);
}
