/**
 * Options
 */

@screen-xs-min: 0;
@screen-sm-min: 640px;
@screen-md-min: 800px;
@screen-lg-min: 960px;

@gutter: 0;
@margin: 0;

@padding-small: 0.75rem;
@padding-medium: 3.0rem;
@padding-big: 8rem;

@nav-height: 49px;

@reg: 200;
@bold: 500;

/**
 * Modules
 */

@import 'reset';
@import 'grid';
@import 'typography';
@import 'navigation';
@import 'content';
@import 'slick';

/**
 * Base
 */

body {
  background: #fff;
  color: #000;
  line-height: 1.5;
}

footer {

}

/**
 * Media
 */

img {
  max-width: 100%;
  height: auto;
}

/**
 * Stack
 */

.stack-1 { z-index: 1 }
.stack-2 { z-index: 2 }
.stack-3 { z-index: 3 }
.stack-4 { z-index: 4 }
.stack-5 { z-index: 5 }
.stack-6 { z-index: 6 }
.stack-7 { z-index: 7 }
.stack-position { position: relative }
