/**
 * Logo
 */

.nav-logo {
  background: url(/assets/images/xos.svg) no-repeat center;
  background-size: contain;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 50px;
  .stack-6;
}

/**
 * Primary
 */

nav.primary {
  background: #000;
  display: none;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .stack-7;

  .sections li {
    .pad-xs-medium;
  }

  a:hover {
    color: #a5a5a5;
  }
}

/**
 * Sub navigation
 */

nav.sub {
  background: #000;
  position: fixed;
  padding-left: 6rem;
  padding-right: 6rem;
  top: 0;
  left: 0;
  right: 0;
  .stack-5;

  a:hover {
    color: #fc0005;
  }
}

/**
 * Sub Sub navigation (lol)
 */

.subsub a.active {
  color: #a5a5a5;
}

/**
 * Icon
 */

.nav-icon {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  width: 60px;
  .stack-6;

  > div {
    background: #fff;
    height: 4px;
    width: 100%;
    outline: 1px solid rgba(0, 0, 0, 0.15);
  }

  > div:not(:last-child) {
    margin-bottom: 4px;
  }
}

.nav-hide {
  position: fixed;
  top: -15px;
  right: -15px;
  padding: 15px 30px;
  color: #fff;
  font-size: 60px;
  line-height: 1;
}

/**
 * Links
 */

[data-nav-show],
[data-nav-hide],
[data-nav-toggle] {
  cursor: pointer;
}

@media only screen and ( max-width: @screen-sm-min ) {
  .hide-xs {
    display: none;
  }
}