/**
 * Base
 */

body {
  font-size: 1.8rem;
  font-family: 'Foundation Sans', sans-serif;
  font-weight: @reg;
  line-height: 1.3;
}

.type-bold {
  font-weight: 500;
}

strong {
  font-weight: 500;
}

/**
 * Colors
 */

.type-white {
  color: #fff;
  button, a { color: #fff }
}

.type-light {
  color: #ccc;
  button, a { color: #ccc }
}

.type-grey {
  color: #949494;
  button, a { color: #949494 }
}

.type-black {
  color: #000;
  button, a { color: #000 }
}

/**
 * Sizes
 */

.type-caps {
  text-transform: uppercase;
}

.type-normal {
  font-size: 1.6rem;
}

.type-small {
  font-size: 1.3rem;
}

.type-normalish {
  font-size: 2.4rem;
}

.type-normal-medium {
  font-size: 4vmin;
}

.type-medium {
  font-size: 4.5vmin;
}

.type-big {
  font-size: 6vmin;
}

small {
  .type-small;
  display: inline-block;
  line-height: 1.5;
}

/**
 * Weights
 */

.type-condensed {
  font-family: 'Foundation Sans', sans-serif;
  font-weight: 700;
}

.type-extended {
  font-family: 'Foundation Sans', sans-serif;
  font-weight: 800;
}

.type-bold {
  font-weight: @bold;
}

/**
 * Alignments
 */

.type-left { text-align: left }
.type-center { text-align: center }
.type-right { text-align: right }

.type-xs-left { text-align: left }
.type-xs-center { text-align: center }
.type-xs-right { text-align: right }

@media only screen and ( min-width: @screen-sm-min ) {
  .type-sm-left { text-align: left }
  .type-sm-center { text-align: center }
  .type-sm-right { text-align: right }
}

@media only screen and ( min-width: @screen-md-min ) {
  .type-md-left { text-align: left }
  .type-md-center { text-align: center }
  .type-md-right { text-align: right }
}

@media only screen and ( min-width: @screen-lg-min ) {
  .type-lg-left { text-align: left }
  .type-lg-center { text-align: center }
  .type-lg-right { text-align: right }
}

/**
 * Headings
 */

.type-heading {
  line-height: 1;
  text-transform: uppercase;
  .type-extended;
}

h1 {
  font-weight: @bold;
}

h2 {
  text-transform: uppercase;
  line-height: 1.2;
  .type-extended;
  .type-big;
}

h3 {
  text-transform: uppercase;
  line-height: 1.2;
  .type-condensed;
  .type-medium;
}

h4 {
  text-transform: uppercase;
  line-height: 1.2;
  .type-extended;
}

/**
 * Copy
 */

p {
  margin: 1em 0;
  &:first-child { margin-top: 0 }
  &:last-child { margin-bottom: 0 }
}

p a {
  color: #fff;
  border-bottom: 1px solid #fc0005;
  &:hover {
    border-bottom: 1px solid #fff;
  }
}

/**
 * Links
 */

a {
  color: #000;
}

/**
 * More
 */

.type-center img {
  display: inline-block;
}
